 body {font-family: Lakes,Play,Tahoma,Arial,sans-serif;font-size: 15px;min-height: 100vh;position: relative;color: #fff; background-color: #0d151f;-webkit-font-smoothing: antialiased;} 
 body:before {position: fixed;width: 100%;height: 100%;content: ""; background-image: url(../img/new/background.webp);background-position: top;background-size: cover;background-repeat: no-repeat;-webkit-backface-visibility: hidden;backface-visibility: hidden;top: 0;left: 0;z-index: 0;} 
 body:after {position: fixed;display: block;content: "";pointer-events: none;width: 100%;height: 100%;max-width: 1920px; max-height: 1080px;background: url(../img/new/bg.webp);background-size: cover; background-position: 100% 0;top: -65px;right: 0;z-index: 0;will-change: transform;} 
 









/*slider css*/
 #demos .owl-carousel .owl-item a img {width: 120px;height: 82px;position: relative;transition: .2s ease-in-out;} 
 #demos .owl-carousel.owl-drag .owl-item {margin:0;cursor:pointer;} 
 #demos .owl-carousel.owl-drag .owl-item .item {width: 100%;position: relative;padding: 9px 0 0;} 
 #demos .owl-carousel.owl-drag .owl-item:nth-child(odd):before {background: -moz-linear-gradient(top,rgba(128,0,226,.4) 0,rgba(128,0,226,.55) 100%);background: -webkit-linear-gradient(top,rgba(128,0,226,.4),rgba(128,0,226,.55)); background: linear-gradient(180deg,rgba(128,0,226,.4) 0,rgba(128,0,226,.55));} 
 #demos .owl-carousel.owl-drag .owl-item:nth-child(even):before{background: -webkit-linear-gradient(top,rgba(226,48,0,.4),rgba(226,48,0,.55));background: linear-gradient(180deg,rgba(226,48,0,.4) 0,rgba(226,48,0,.55));} 
 #demos .owl-carousel.owl-drag .owl-item:nth-child(even):after{background: -webkit-linear-gradient(top,rgba(226,48,0,.4),rgba(226,48,0,.55));background: linear-gradient(180deg,rgba(226,48,0,.4) 0,rgba(226,48,0,.55));} 
 #demos .owl-carousel.owl-drag .owl-item:after, .owl-carousel.owl-drag .owl-item:before {z-index: -1;content: ""; bottom: 0;left: 0;width: 100%;height: 100%;position: absolute;-webkit-backface-visibility: hidden;backface-visibility: hidden;} 
 #demos .owl-carousel.owl-drag .owl-item:nth-child(odd):after {    background: -webkit-linear-gradient(top,rgba(128,0,226,.4),rgba(128,0,226,.55));background: linear-gradient(180deg,rgba(128,0,226,.4) 0,rgba(128,0,226,.55));} 
 #demos a{text-decoration:none;}
 #demos a:before {content: '';width: 12px;height: 18px;background-image: url(../img/new/icon_thunder_drop.svg);position: absolute;z-index: 30;top: 6px;right: 6px;background-size: 100% 100%;} 
 #demos .owl-item .item a img{z-index: 20;width: auto;height: 46px;-webkit-backface-visibility: hidden; backface-visibility: hidden;margin:auto;transform: scale(1.3);} 
 #demos .item-history__name {margin-top: -9px;z-index: 30;white-space: nowrap;width: 100%;overflow: hidden; text-overflow: ellipsis;font-size: 11px;font-weight: 600;color: hsla(0,0%,100%,.8);text-align: center;margin: 3px 0 8px;} 
 #demos a:after {background-image: url(../img/new/snow-classified.webp);} 
 #demos a:after {content: "";display: block;width: 98px;height: 60px;position: absolute;top: 50%;left: 50%; background-position: 0 0;background-size: 100%;background-repeat: no-repeat;transform: translate(-50%,-50%);opacity: .7;} 
 #demos .owl-carousel.owl-drag .owl-item:hover a img{transform:scale(1.4);} 
 .owl-carousel .owl-item img {width: auto !important;} 
 #demos .owl-carousel.owl-drag .owl-item:hover .history-weapon-hover {display: inline-block;} 
 .history-weapon-hover {display: none;position: absolute;left: 0;width: 147px;height: 110px;margin-left: -18px;margin-top: 2px;text-align: center;background-color: #171d29;border-radius: 3px;cursor: default;border: 1px solid #323c49;z-index: 9;bottom: -124px;} 
 .hwh-user {padding: 5px;line-height: 16px;font-size: 12px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; border-bottom: 1px solid #323c49;} 
 .owl-carousel .owl-item .hwh-avatar {width: 16px;height: 16px;border-radius: 50%;vertical-align: middle; margin-right: 0;margin-left: 10px;float:left;} 
 .history-weapon-case:after, .history-weapon-hover:after {display: block;width: 8px;height: 8px;content: ""; position: absolute;background: red;transform: rotate(-45deg);background: #171d29;border-top: 1px solid #323c49; border-right: 1px solid #323c49;top: -4.5px;right: 50%;margin-right: -4px;} 
 .hwh-case {height: 61px;display: flex;justify-content: center;margin-top: 8px;} 
 .hwh-case-pic {display: block;height: 100%;width: auto;} 
 .username{float: left;margin-left: 8px;} 
 .owl-carousel .owl-stage-outer {} 
 .navbar{border-radius: 0;margin-bottom: 0;border: none;z-index: 1;background: #0f0e14;margin-top: 0;} 
 #message~ .col-sm-2+ .col-sm-2 {background: rgba(22, 22, 30, 0.1);} 
 #message~ .col-sm-2 {background: #0b0a0f00;z-index: 1;} 
 .footer {background: #0b0a0f00;}
/*slider css*/

#timersection .site-statistics__item {margin-right: 41px;}
.leftbarr,.rightbarr{padding:0;}
#timersection .site-stat-counter:before {content: "";position: absolute;background-repeat: no-repeat;background-size: auto 100%;}
#timersection .site-stat-counter .site-stat-counter__num, #timersection .site-stat-counter .site-stat-counter__text {margin-left: 55px;}
#timersection .sales-counter {padding: 0 0 3px;}
.header-social .right {padding: 8px 120px 0 0;}
.profile{clear:both;}
.left-nav a {font-weight: 700;letter-spacing: 0.4px;}

.socials-links{}
.socials-links ul{    padding: 0;}
.socials-links ul li {
    list-style: none;
    float: left;
    margin: 0 5px 0;
}
.socials-links ul li  h5{margin: 4px 0 6px;color: white;}
.socials-links ul li  h6{color: white;}
.socials-links ul li a{1}
.site-statistics__item ul li{}
.site-statistics__item ul{}
.site-statistics__item ul li a{}

#timersection .ny-sales {
    
    padding: 9px 0;
    padding-left: 22px;
}

@media screen and (min-width: 768px){
.navbar-brand>img {height: 63px;}
.avatar, .profile img {max-width:38px;}
.profile {margin-top: -7px;}
.footer {padding: 12px 0;border-top: 1px solid #1e1f23;}
}

@media(min-width:992px){
.leftbarr{position: fixed;margin: 82px 0 0;}
.rightbarr{margin-left: 16.6%;}
#demos{position: fixed;z-index: 9;}
.rightbarr .navbar{width: 100%;padding-top: 82px;}
.contentdiv{margin-top: 20px;}
.site_logo{height: 73px;}
.navbar-brand {width: 100%;}
.left-nav {padding: 0 19px;}
.left-nav li{position:relative;}
.left-nav li a:hover:not(.active):after {content: "";opacity: 1;visibility: visible;}
.left-nav li a:after {position: absolute;top: 0;left: 0;width: 100%;height: 100%;border-left: 2px solid #8cc5f5;background: -webkit-linear-gradient(right,rgba(93,174,241,0),rgba(93,174,241,.2) 98%);background: -o-linear-gradient(right,rgba(93,174,241,0) 0,rgba(93,174,241,.2) 98%);background: linear-gradient(270deg,rgba(93,174,241,0) 0,rgba(93,174,241,.2) 98%);opacity: 0;visibility: hidden;transition: .2s ease;}
.left-nav a {padding: 5px 0;}
.left-nav i {color: #4C85BA;}
#timersection .site-statistics__item a:hover .site-stat-counter__text {color:white;}
.left-nav li+ li.category {margin-top: 3px;}
.left-nav a {padding: 2px 0;}
}

@media(width:768px) and (height:1024px)
{
.leftbarr{width: 100%;text-align: left;}
.navbar-brand {width: 100%;}
ul.left-nav li:first-child {padding: 83px 16px 0;padding-top: 74px !important;}
ul.left-nav li.category {padding: 0 46px 0;}
.left-nav a {padding: 5px 26px;}
ul.left-nav{padding: 0 0 0;margin-top:0;}
.left-nav {padding: 0 19px;}
.left-nav i {color: #4C85BA;}
.left-nav li{position:relative;}
.left-nav li a:hover:not(.active):after {content: "";opacity: 1;visibility: visible;}
.left-nav li a:after {position: absolute;top: 0;left: 0;width: 100%;height: 100%;border-left: 2px solid #8cc5f5;background: -webkit-linear-gradient(right,rgba(93,174,241,0),rgba(93,174,241,.2) 98%);background: -o-linear-gradient(right,rgba(93,174,241,0) 0,rgba(93,174,241,.2) 98%);background: linear-gradient(270deg,rgba(93,174,241,0) 0,rgba(93,174,241,.2) 98%);opacity: 0;visibility: hidden;transition: .2s ease;}
.header-social, #message~ .col-sm-8 {width: calc(100% - 455px);left: 24px;}
.header-social .right {padding: 8px 24px 0 0;}
#timersection header.header {width: 100%;}
#timersection div.site-statistics {padding: 13px 0 6px 46px;}
#timersection .site-statistics__item a {margin-bottom: 10px;}
.footer {position: static;width: 100%;}
}

@media(max-width:768px){
.header-nav>li>a {padding: 10px 3px;}
.header-nav {padding: 0 15px 0;}
.header-nav i {color: #4C85BA;}
.header-nav .active i {color: #2ecc71;}
.header-nav i {color: #4C85BA;}
.header-nav li.category, .header-nav .category:hover {color: #7a7b90;}
.header-nav li.category, .header-nav .category:hover {text-transform: uppercase;font-weight: bold;font-size: 10px;letter-spacing: 2px;}
.header-nav li + li.category {margin-top: 10px;}

#timersection div.site-statistics {display: block;margin: 127px 0 0;padding: 19px 32px 18px;}
#timersection div.sales-counter{display:block;}
#timersection div.ny-sales {display: block;padding-left: 21px;}
#timersection div.ny-sales__title {display: block;padding: 23px 0 20px 46px;width: 100%;}
#timersection div.header__ny-sales,#timersection .header,#timersection .ny-sales{display: block;margin: 0;}
#timersection div.header__nav-projects, #timersection .header__settings-socials {display: block;}
#timersection div.ny-sales__counter{padding: 10px 0 67px;}
#timersection div.header__settings-socials{position: relative; top: -64px;left: -12px;}
#timersection header.header {display: block;width: 100%;padding: 0;}
div#timersection.content {min-width: 100%;display: block;}

#timersection .site-statistics__item a {margin-bottom: 10px;}
}
   
